Kia_Phone_Holder/src/KiaPhoneHolder.pdf
Kia_Phone_Holder/src/KiaPhoneHolder2.pdf
Kia_Phone_Holder/src/calculo angulos.xlsx
MyIdCar_v4/K_logo_v2.scad
MyIdCar_v4/K_logo_v3.scad
MyIdCar_v4/K_logo_v4.scad
MyIdCar_v4/K_logo4.scad
MyIdCar_v4/MyIdCar_v0.scad
MyIdCar_v4/MyIdCar_v1.scad
MyIdCar_v4/MyIdCar_v2.scad
MyIdCar_v4/MyIdCar_v3.scad
MyIdCar_v4/MyIdCar_v4.scad
MyIdCar_v4/lib/BlackRose.dxf
MyIdCar_v4/lib/braille.dxf
MyIdCar_v4/lib/knewave.dxf
MyIdCar_v4/lib/Letters.dxf
MyIdCar_v4/lib/orbitron.dxf
MyIdCar_v4/lib/Write.scad
